body{
    background-color: #59AFFF;
}

#title{
    text-align: center;
    top: 5em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    
}

#questionamt{
    
    padding:4em 2em 10em 2em;
    border-radius: 1em;
    background: rgb(80,87,255);
    background: linear-gradient(rgba(69,75,207,1) 14%, rgba(3,22,175,1) 81%);
    box-shadow: 2px 2px 8px black;
    border: 2px;
    text-align: center;
    width:50%;
    margin: auto;
    top: 4;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: white;
}

#plus, #minus{

    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}


#quantity{
    margin: 0 auto;
    background: transparent;
    font-size: 2em;
    text-align: center;
    width: 2em;
    border: transparent;
    
}


#start{
    
    border: 2px;
    border-radius: 1.5em;
    background-color: white;
    width: 30%;
    text-align: center;
    margin: auto;
    color: black;
    

}
