@import 'modal.css';
@import 'variables.css';

*,
*::after,
*::before {
	box-sizing: border-box;
}

#totals {
	position: absolute;
	top: 10px;
	right: 30px; /* Styling of the total counter */
	line-height: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: var(--color-light);
}

/* Styling of the question box */
#question {
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	font-weight: 600;
	padding: 1rem 2rem 3rem;
	color: var(--color-dark-text);
}

.answer-wrapper {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, 42%);
	justify-content: center;
}

/* Styling of the first 2 answer boxes in a line */
.answers {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	color: var(--color-light);
	vertical-align: middle;

	cursor: pointer;
	display: flex;
	box-shadow: 0px 4px 12px rgba(var(--color-dark-1-rgb), var(--box-shadow-opacity));
	border-radius: 1rem;
	background: linear-gradient(150deg, var(--color-background-gradient-1), var(--color-background-gradient-2));

	margin: 1rem;
	padding: 1.5rem;
	justify-content: center;
}

.answers:hover {
	background: var(--color-background-gradient-2);
	box-shadow: none;
}

.question-wrapper.active {
	transform: translate(-50%, -50%) scale(1);
}

.question-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	border: 0;
	border-radius: 1.5rem;
	z-index: 1;
	background-color: var(--color-light);
	max-height: 80%;
	width: 75%;
	box-shadow: 0px 4px 12px rgba(var(--color-dark-1-rgb), var(--box-shadow-opacity));
	padding: 2.5rem;
	overflow-y: auto;
}

/* Styling of the question counter (ex: 1 out of 15 questions)*/
#numofquestions {
	clear: both;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	padding-top: 1rem;
	color: var(--color-light);
	padding: 1.5rem 0;
	position: fixed;
	bottom: 0rem;

	right: 0;
	left: 0;
}

/* Supposed to change size of elements based on pixel size - not working yet */
@media only screen and (max-width: 1250px) {
	.answers {
		width: 100%;
		margin: auto;
		margin-top: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
