@import 'modal.css';
@import 'variables.css';

body {
	background: #59afff;
}

#totals {
	position: absolute;
	top: 10px;
	right: 30px; /* Styling of the total counter */
	line-height: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: white;
}

#question {
	font-size: 10px;
	display: flex;
	margin-top: 100px; /* Styling of the question box */
	justify-content: center;
	box-shadow: 2px 2px 8px black;
	box-shadow: 0px 0px 10px;
	border-radius: 10px;
	background: #5057ff;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	padding: 4em;
}

#question > h1 {
	color: white;
}

.answers {
	margin-top: 30px;
	float: left;
	width: 45%;
	display: flex;
	justify-content: center; /* Styling of the first 2 answer boxes in a line */
	box-shadow: 2px 2px 8px black;
	border-radius: 1rem;
	margin-right: 25px;
	margin-left: 35px;
	background: linear-gradient(rgba(69, 75, 207, 1) 14%, rgba(3, 22, 175, 1) 81%);
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: white;
	padding-top: 3em;
	padding-bottom: 3em;
}

/*
.answers2 {
	margin-top: 15px;
	float: left;
	width: 45%;
	display: flex;
	justify-content: center;
	border: 2px ;    				Styling of the first 2 answer boxes in a line 
	box-shadow: 2px 2px 8px black;
	border-radius: 1em;
	margin-right: 25px;
	margin-left: 35px;
}
*/

#numofquestions {
	clear: both;
	display: flex; /* Styling of the question counter */
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: white;
}

@media only screen and (max-width: 1250px) {
	/* Supposed to change size of elements based on pixel size - not working yet */

	.answers {
		width: 100%;
		margin: auto;
		margin-top: 1em;
		padding-top: 1em;
		padding-bottom: 1em;
	}
}
