@import 'modal.css';
@import 'variables.css';

body {
	/* background: #59afff; */
	background: linear-gradient(150deg, #6250d1, #7038af);
}

#totals {
	position: absolute;
	top: 10px;
	right: 30px; /* Styling of the total counter */
	line-height: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: white;
}

/* Styling of the question box */
#question {
	display: flex;
	/* margin-top: 6rem; */
	justify-content: center;
	text-align: center;
	/* border-radius: 1rem; */
	/* background: #5057ff; */
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	font-weight: 600;
	padding: 1rem 2rem 3rem;
	color: #1d1e22;
}
/* 
#question > h1 {
} */

.answer-wrapper {
	/* display: grid; */
	/* place-items: center; */

	/* width: 75%; */
	/* float: none; */
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-left: auto;
	margin-right: auto; */
	/* align-content: center; */
}

.answers {
	cursor: pointer;
	margin-top: 2rem;
	float: left;
	width: 50%;
	display: flex;
	justify-content: center; /* Styling of the first 2 answer boxes in a line */
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	margin: 1rem 2rem;
	/* background: linear-gradient(rgba(69, 75, 207, 1) 14%, rgba(3, 22, 175, 1) 81%); */
	background: linear-gradient(150deg, #6250d1, #7038af);
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	color: white;
	padding: 1.5rem;
	text-align: center;
}

.question-wrapper.active {
	transform: translate(-50%, -50%) scale(1);
}

.question-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	/*   transition: 200ms ease-in-out; */
	border: 0;
	border-radius: 1.5rem;
	z-index: 1;
	background-color: white;
	max-height: 80%;
	width: 75%;
	/*   max-width: 80%; */
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
	padding: 2.5rem;
	overflow-y: auto;
	/*   scrollbar-width: none; */
}

/*
.answers2 {
	margin-top: 15px;
	float: left;
	width: 45%;
	display: flex;
	justify-content: center;
	border: 2px ;    				Styling of the first 2 answer boxes in a line 
	box-shadow: 2px 2px 8px black;
	border-radius: 1em;
	margin-right: 25px;
	margin-left: 35px;
}
*/

#numofquestions {
	clear: both;
	display: flex; /* Styling of the question counter */
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	padding-top: 1rem;
	color: white;
}

@media only screen and (max-width: 1250px) {
	/* Supposed to change size of elements based on pixel size - not working yet */

	.answers {
		width: 100%;
		margin: auto;
		margin-top: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
